<nav class="navbar">
  <%= image_tag "Logo", class: "pull-left" %>
  <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
    &#9776;
  </button>
</nav>
<div class="collapse" id="exCollapsingNavbar">
    <a href="#">Home</a>
    <a href="#">Services</a>
    <a href="#">About Us</a>
    <a href="#">Contact</a>
</div>
